ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", \
  RUN+="/usr/bin/dspace-disk hotplug disk online %k --dsa_asok {{ socket_file }}"
ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", \
  RUN+="/usr/bin/dspace-disk hotplug disk offline %k --dsa_asok {{ socket_file }}"
