ACTION=="add", SUBSYSTEM=="scsi_device", \
  RUN+="/usr/bin/dspace-disk hotplug disk online %k --dsa_asok {{ socket_file }}"
ACTION=="remove", SUBSYSTEM=="scsi_device", \
  RUN+="/usr/bin/dspace-disk hotplug disk offline %k --dsa_asok {{ socket_file }}"
