{% set keyfile = '/etc/chrony.keys' %}

{% for server in chrony_server %}
server {{ server }} iburst
{% endfor %}

user chrony

keyfile {{ keyfile }}

commandkey 1

driftfile /var/lib/chrony/chrony.drift

log tracking measurements statistics
logdir /var/log/dspace/chrony

makestep 3 3

maxupdateskew 100.0

dumponexit

dumpdir /var/lib/chrony

allow all
# prevent chrony sync from self
deny {{ ip_address }}
local stratum 10

bindaddress 0.0.0.0

logchange 0.5

hwclockfile /etc/adjtime

rtcsync
