[DEFAULT]
debug={{ debug_log }}
my_ip={{ ip_address }}
admin_port={{ admin_port }}
agent_port={{ agent_port }}
check_origin=False
admin_ip={{ admin_ip_address }}
node_id={{ node_id }}
cluster_id={{ cluster_id }}
log_file = /var/log/dspace/dsa.log
dsa_lib_dir={{ dsa_lib_dir }}
socket_file={{ socket_file }}

log_rotation_type = size
max_logfile_size_mb = 256
max_logfile_count = 10
os_distro={{ os_distro }}
