[dspace-base]
name=Base packages and requirements
baseurl={{ dspace_repo }}/rpm/x86/base
enabled=1
gpgcheck=0

[dspace-tools]
name=Some useful tools
baseurl={{ dspace_repo }}/rpm/x86/tools
enabled=1
gpgcheck=0

[dspace-portal]
name=portal
baseurl={{ dspace_repo }}/rpm/x86/portal
enabled=1
gpgcheck=0
