[dspace-base]
name=Base packages and requirements
baseurl={{ repo_baseurl }}/repo/base
enabled=1
gpgcheck=0

[dspace-ceph]
name=Ceph packages
baseurl={{ repo_baseurl }}/repo/ceph-rpms
enabled=1
gpgcheck=0

[dspace-tools]
name=Some useful tools
baseurl={{ repo_baseurl }}/repo/tools
enabled=1
gpgcheck=0

[dspace-elasticsearch]
name=Elasticsearch and java packages
baseurl={{ repo_baseurl }}/repo/elasticsearch
enabled=1
gpgcheck=0

[dspace-portal]
name=portal
baseurl={{ repo_baseurl }}/repo/portal
enabled=1
gpgcheck=0
