[DEFAULT]
debug=true
my_ip={{ ip_address }}
api_port={{ api_port }}
websocket_port={{ websocket_port }}
admin_port={{ admin_port }}
agent_port={{ agent_port }}
check_origin=False
admin_ip={{ admin_ip_address }}
node_id={{ node_id }}
cluster_id={{ cluster_id }}

[database]
connection = mysql+pymysql://{{ database_user }}:{{ database_password }}@{{ admin_ip_address }}/t2stor

