{% set keyfile = '/etc/chrony.keys' %}

server {{ chrony_server }} iburst

user chrony

keyfile {{ keyfile }}

commandkey 1

driftfile /var/lib/chrony/chrony.drift

log tracking measurements statistics
logdir /var/log/t2stor/chrony

makestep 3 3

maxupdateskew 100.0

dumponexit

dumpdir /var/lib/chrony

{% if ip_address == chrony_server %}
allow all
# prevent chrony sync from self
deny {{ chrony_server }}
local stratum 10
{% else %}
port 0
deny all
{% endif %}

bindaddress {{ ip_address }}

logchange 0.5

hwclockfile /etc/adjtime

rtcsync
